<div [formGroup]="form" class="field-section">
    <label [attr.for]="field.linkId">{{field.text}}</label>

    <div [ngSwitch]="field.type">
        <section *ngSwitchCase="'string'">
            <input [formControlName]="field.linkId" [id]="field.linkId" type="text">
        </section>
        <section *ngSwitchCase="'choice'">
            <select [id]="field.linkId" [formControlName]="field.linkId">
                <option *ngFor="let opt of field.option" [value]="opt.valueCoding.code">{{opt.valueCoding.display}}</option>
            </select>
        </section>

        <section *ngSwitchCase="'date'">
            <input type="date" [formControlName]="field.linkId" [id]="field.linkId">
        </section>
        <section *ngSwitchCase="'boolean'">
            <span>
            <input  type="radio" value=true [formControlName]="field.linkId">Yes
            <input  type="radio" value=false [formControlName]="field.linkId">No
            </span>
        </section> 
    </div>

    <div class="errorMessage" *ngIf="!isValid">{{field.errorMessage}} is required</div>
    
</div>